<div [ngClass]="{'toolbar-fullscreen': (fullscreen$)}">
  	<nav class="navbar navbar-expand-lg">
	  	<a class="navbar-brand" [routerLink]="['/']">
			<img src="https://firebasestorage.googleapis.com/v0/b/nodejs-webapp-956d6.appspot.com/o/logo.png?alt=media&token=76af09f4-9500-4d5e-9bdc-b86aed8d751f" 
			  		style="width: 140px;">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" 
				data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
				aria-expanded="false" aria-label="Toggle navigation">
		  	<span class="navbar-toggler-icon"></span>
	 	</button>
	  	<div class="collapse navbar-collapse " id="navbarSupportedContent">
		  	<form class="form-inline my-2 my-lg-0 align-middle mr-auto">
		  		<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" [routerLink]="['/']" routerLinkActive="active"
								[routerLinkActiveOptions]="{exact:true}">Главная</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" [routerLink]="['/book-create']" routerLinkActive="active">Создать фанфик</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" [routerLink]="['/books']" routerLinkActive="active">Фанфики</a>
					</li>
		  		</ul>
				<input class="form-control mr-sm-2 ml-2" type="search" placeholder="Search" 
				  		aria-label="Search" style="width: 30%;" id="search">
				<button class="btn btn-outline-primary my-2 my-sm-0" 
						for ="search" id="search-btn" type="submit">Поиск</button>
				<button class="theme-btn" (click)="changeTheme()">
					<i class="fab fa-medapps" style="size:60px"></i>
				</button>
			</form>
			<div *ngIf="userRepository.selectedUser == null; then nonAutorise else autorise"></div>   
			<ng-template #nonAutorise>
				<div class="form-inline justify-content-end align-middle">	
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a routerLink="login" routerLinkActive="active" class="nav-link">Вход </a> 
						</li>
						<li class="nav-item">
							<a routerLink="signup" routerLinkActive="active" class="nav-link">Регистрация</a> 
						</li>
					</ul>					
					<a class="btn  btn-social btn-vk" href="/auth/vk">
						<span class="fab fa-vk"></span>
					</a>
					<a class="btn  btn-social btn-twitter" href="/auth/twitter">
						<span class="fab fa-twitter"></span>
					</a>
					<a class="btn  btn-social btn-facebook" href="/auth/facebook">
					  	<span class="fab fa-facebook-f"></span>
				  	</a>
				</div>
			</ng-template>  
			<ng-template #autorise>
				<div class="dropdown show">
					<a class="btn my-2 my-sm-0 dropdown-toggle" 
							style="color:#8c1aff;"
							id="dropdownMenuLink" data-toggle="dropdown" 
							aria-haspopup="true" aria-expanded="false">
						{{userRepository.selectedUser.username}}
					</a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<a class="dropdown-item" [routerLink]="['/profile']">Профиль</a>
						<a class="dropdown-item" (click)="logout()" [routerLink]="['/logout']">Выход</a>
					</div>
				</div>
			</ng-template>  	
	  	</div>
	</nav>
</div>
