<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
	<div class="btn-group mr-2" role="group" aria-label="First group">
		<button type="button" class="btn btn-secondary btn-sm" (click)="blockUser()">
			<span class="fa fa-lock"></span>
		</button>
		<button type="button" class="btn btn-secondary btn-sm" (click)="unblockUser()">
			<span class="fa fa-lock-open"></span>
		</button>
		<button type="button" class="btn btn-secondary btn-sm" (click)="setAdmin()">
				<span class="fa fa-qq"></span>
			</button>
		<button type="button" class="btn btn-secondary btn-sm" (click)="deleteUser()">
	  		<span class="fa fa-trash-alt"></span>
		</button>
	</div>
</div>
<div class="example-container mat-elevation-z8">
  	<mat-table #table [dataSource]="dataSource" matSort>

		<ng-container matColumnDef="check">
			<mat-header-cell *matHeaderCellDef mat-sort-header>Check</mat-header-cell>
			<mat-cell *matCellDef="let user, let i = index">
				<input type="checkbox" name="check" (change)="checkUser(user)"/>
			</mat-cell>
		</ng-container>

    	<ng-container matColumnDef="username">
      		<mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
      		<mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
    	</ng-container>

    	<ng-container matColumnDef="email">
      		<mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      		<mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
    	</ng-container>

    	<ng-container matColumnDef="role">
      		<mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
      		<mat-cell *matCellDef="let user"> {{user.role}} </mat-cell>
		</ng-container>

		<ng-container matColumnDef="isBlocked">
				<mat-header-cell *matHeaderCellDef mat-sort-header> IsBlocked </mat-header-cell>
				<mat-cell *matCellDef="let user"> {{user.isBlocked}} </mat-cell>
		  </ng-container>

    	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    	<mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
  	</mat-table>
</div>