<div class="container">
  	<div class="row">
		<div class="col">
      	<div class="mt-4">
  			<form role="form" #myForm="ngForm" novalidate (ngSubmit)="onSubmit(myForm)">
     			<div class="form-group row">
         	 		<label class="col-lg-3 col-form-label form-control-label">{{ 'NAME' | translate}}</label>
          			<div class="col-lg-9">
              			<input class="form-control" type="text" value="" name="name"  ngModel required>
          			</div>
      			</div>
      			<div class="form-group row">
         			<label class="col-lg-3 col-form-label form-control-label">{{ 'EMAIL' | translate}}</label>
          			<div class="col-lg-9">
              			<input class="form-control" type="email" value="" name="email"  ngModel required>
          			</div>
      			</div>
      			<div class="form-group row">
          			<label class="col-lg-3 col-form-label form-control-label">{{ 'PASSWORD' | translate}}</label>
          			<div class="col-lg-9">
              			<input class="form-control" type="password" value="" name="password" ngModel required>
          			</div>
      			</div>
      			<div class="form-group row">
          			<label class="col-lg-3 col-form-label form-control-label ">{{ 'REPPASSWORD' | translate}}</label>
          			<div class="col-lg-9">
              			<input class="form-control" type="password" value="" name="passport1" ngModel required>
          			</div>
      			</div>
      			<div class="form-group row">
          			<label class="col-lg-3 col-form-label form-control-label"></label>
          			<div class="col-lg-9">
              			<button type="reset" class="btn btn-secondary" > {{ 'CANCEL' | translate}}</button>
                    <button type="submit" [disabled]="myForm.invalid" class="btn button-submit" >{{ 'SIGNUP' | translate}}</button>
          			</div>
      			</div>
  			</form>
		  </div>
		  </div>
		  <div class="col">
				<div class="upload-img mt-4">
						<div>
						<label>{{ 'AVATAR' | translate}}</label>
					  </div>
					  <mat-spinner *ngIf="(isLoading==true);else showImage"></mat-spinner>
						<ng-template #showImage>      
						<div *ngIf="(imageURL==null);else otherImage">
							<div *ngIf="(files==null);else other_content" class="mb-3">                    
							  <file-drop headertext="Drop files here" (onFileDrop)="dropped($event)" 
								(onFileOver)="imageService.fileOver($event)" (onFileLeave)="imageService.fileLeave($event)">
							  </file-drop>
							</div>                
							<ng-template #other_content>                        
								<div><img style="width: 300px" [src]="imageURL"></div>
								  <div class="mt-2"><button class="btn btn-secondary mb-3"  type="button" (click)="otherImage()">
											{{ 'ANOTHERPIC' | translate}}
								</button></div>                        
							</ng-template>
						  </div>
						  <ng-template #otherImage>
							  <div *ngIf="(imageURL!=null)">
							  <div><img style="width: 300px" [src]="imageURL"></div>
							  <div class="mt-2"><button class="btn btn-secondary mb-3"  type="button" (click)="imageURL=null">
										{{ 'ANOTHERPIC' | translate}}
							   </button></div>  
							  </div>             
						  </ng-template>
						  </ng-template>
						</div>
		  </div>
  	</div>
</div>