
<div class="container">
        <div class="row my-2">
            <div class="col-lg-8 order-lg-2">
                <div class="tab-content py-4"> 
                        
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="pb-2">{{ book.title }}</h5>
                                <h6>Описание </h6>
                                <p>
                                        {{ book.description }}
                                </p>
                                <h6>Автор</h6>
                                <p>
                                        {{ book.author }}
                                </p>
                                <h6>Жанр</h6>
                                <p>
                                        {{ book.category }}
                                </p>
                            </div>

                            <div class="col ">
                                    
                                <a [routerLink]="['/book-edit', book._id]" class="btn btn-success">EDIT</a>
                                <a [routerLink]="['/add-chapter', book._id]" class="btn btn-success">ADD CHAPTER</a>
                                <a *ngIf="(book.chapters[0]!=undefined)" [routerLink]="['/book-read', book._id, book.chapters[0].number]" class="btn btn-success">READ</a>
                                <button class="btn btn-danger" type="button" (click)="deleteBook(book._id)">DELETE</button>
                           
                                       
                                <h6>Теги</h6>
                                <a href="#" class="badge badge-dark badge-pill">html5</a>
                                <a href="#" class="badge badge-dark badge-pill">react</a>
                                <a href="#" class="badge badge-dark badge-pill">codeply</a>
                                <a href="#" class="badge badge-dark badge-pill">angularjs</a>
                                <a href="#" class="badge badge-dark badge-pill">css3</a>
                                <a href="#" class="badge badge-dark badge-pill">jquery</a>
                                <a href="#" class="badge badge-dark badge-pill">bootstrap</a>
                                <a href="#" class="badge badge-dark badge-pill">responsive-design</a>
                                <a href="#" class="badge badge-light badge-pill">Добавить тег</a>
                            </div>
                            <!--/row-->
                        </div>
                    </div>
                </div>
            <div *ngIf="(book.image!=null)">
            <div class="col-lg-4 order-lg-1 text-center mt-4">
                <img style="width: 300px" [src]="book.image" alt="avatar">
    
            </div>
        </div>
        </div>  
    <div class="container">
        <div class="comments">
            <h6 class="title-comments mt-3">Комментарии ({{book.comments.length}})</h6>
            <ul class="media-list">
                <!-- Комментарий (уровень 1) -->
                <li *ngFor="let curComment of book.comments" class="media">
                    <div class="media-left">                        
                            <img *ngIf="(curComment.image==null);else image" class="media-object img-rounded" src="https://firebasestorage.googleapis.com/v0/b/nodejs-webapp-956d6.appspot.com/o/anonim.png?alt=media&token=f9352069-3f67-4870-9891-5d3b1baf0c44" alt="">
                                         
                            <ng-template #image>
                           
                                <img  class="media-object img-rounded" [src]="curComment.image" alt="...">
                           
                            </ng-template>                       
                    </div>
                    <div class="media-body ml-2">
                        <div class="media-heading">
                            <div class="author">{{curComment.author}}</div>
                            <div class="metadata">
                                <span class="date">{{curComment.date.toString()}}</span>
                            </div>
                        </div>
                        <div class="media-text text-justify" [innerHTML]="curComment.text"></div>
                        <div class="footer-comment">
            <span class="vote plus" title="Нравится" >
              <i class="fa fa-thumbs-up" (click)="like(curComment)"></i>
            </span>
            <span class="rating">
                {{curComment.likes}}
            </span>
    
                        </div>
                    </div>
                </li>
                <div><a (click)="(isTyping=true)" style="color: white;" *ngIf="(isTyping==false)" class="btn btn-sm button-submit">Добавить комментарий</a></div>
                
                <form (ngSubmit)="sendComment()"  #bookForm="ngForm" *ngIf="(isTyping==true)">
                   
                         
                        <ul class="media-list mt-2">
                                <!-- Комментарий (уровень 1) -->
                                <li  class="media">
                                    <div class="media-left"> 
                                                                 
                                            <img *ngIf="(userRepository.selectedUser.image==null);else image" class="media-object img-rounded" src="https://firebasestorage.googleapis.com/v0/b/nodejs-webapp-956d6.appspot.com/o/anonim.png?alt=media&token=f9352069-3f67-4870-9891-5d3b1baf0c44" alt="">
                                         
                                            <ng-template #image>
                                           
                                                <img  class="media-object img-rounded" [src]="userRepository.selectedUser.image" alt="...">
                                           
                                            </ng-template>      
                                                         
                                    </div>
                                    <div class="media-body ml-2">
                                        <div class="media-heading mb-1">
                                            <div class="author">{{userRepository.selectedUser.username}}</div>
                                        </div>
                                       <angular-tinymce  [(ngModel)]='comment.text' name='content' required ></angular-tinymce>
                                       <div class="form-group">
                                            <button type="submit" class="btn button-submit mt-2" [disabled]="!bookForm.form.valid">Create</button>
                                          </div>
                                    </div>
                                </li>
                                </ul>
                
               
                </form>
        
            </ul>
    
    
        </div>
    </div>
    </div>
