
<div class="container">
  <h3 class="mt-2">Создание фанфика</h3>
      <form (ngSubmit)="saveBook()" #bookForm="ngForm">
        <div class='row'>
      <div class="col">
        <div class="form-group">
          <label for="name">Название</label>
          <input type="text" class="form-control" [(ngModel)]="book.title" name="title" required>
        </div>
        <div class="form-group">
          <label for="name">Автор</label>
          <input type="text" class="form-control" [(ngModel)]="book.author" name="author" required>
        </div>
        <div class="form-group">
          <label for="name">Описание</label>
          <textarea class="form-control" [(ngModel)]="book.description" name="description" required></textarea>
        </div>
        <div class="form-group">
  
          <div class="dropdown">  
            
            <div *ngIf="(book.category==undefined);else other_content1">
                Выберите жанр <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Жанры
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" *ngFor="let cat of categories"
                      (click)="changeCategory(cat.name)">{{cat.name}}</a>
                    </div>
            </div>
            
            <ng-template #other_content1>
                Выберите жанр <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{book.category}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" *ngFor="let cat of categories"
                  (click)="changeCategory(cat.name)">{{cat.name}}</a>
                </div>
            </ng-template>
          </div>
        </div>
      </div>
    <div class="col" >
      <div class="upload-img">
        <div>
        <label for="name">Обложка для фанфика</label>
      </div>
        <div *ngIf="(files==null);else other_content">
          <file-drop headertext="Drop files here" (onFileDrop)="dropped($event)" 
    (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
    </file-drop>
        </div>
        
        <ng-template #other_content>
          
          <div><img style="width: 300px" [src]="downloadURL | async"></div>
            <div class="mt-2"><button class="btn btn-secondary" type="button" (click)="otherImage()">
            Хочу другую картинку
          </button></div>
          
        </ng-template>
      </div>
    </div>
  </div>
    <h6 class="mt-2 mb-4">Начните создавать прямо сейчас!</h6>
<!--     <editor apiKey="test" [init]="{plugin: 'textpattern',
    textpattern_patterns: [
       {start: '*', end: '*', format: 'italic'},
       {start: '**', end: '**', format: 'bold'},
       {start: '#', format: 'h1'},
       {start: '##', format: 'h2'},
       {start: '###', format: 'h3'},
       {start: '####', format: 'h4'},
       {start: '#####', format: 'h5'},
       {start: '######', format: 'h6'},
       {start: '1. ', cmd: 'InsertOrderedList'},
       {start: '* ', cmd: 'InsertUnorderedList'},
       {start: '- ', cmd: 'InsertUnorderedList'}
    ]}"  [(ngModel)]='content' name='content'></editor> -->
  <angular-tinymce [(ngModel)]='content' name='content'  ></angular-tinymce>
    <div class="form-group mt-3">
        <button type="submit" class="btn btn-success" [disabled]="!bookForm.form.valid">Save</button>
      </div>

    </form>
    <div [innerHTML]="content"></div>
</div>


