@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


.theme-btn {
    background-color: unset;
}
.card-header {
    background-color:unset;
}
.dropdown-menu {
    min-width: unset;
}
.dropdown-menu a:hover {
    color: #6600cc;
}
.dropdown-item {
    padding: .15rem 1rem;
}
.dropdown-item:hover {
    background-color: unset;
}
.fa-bars {
    color: #D7D7D7; 
}
.theme-btn:focus {
    box-shadow: unset;  
}
.light .navbar {
    background-color: #F8F9FA;
}
.light a {
    color: #7C7C7D;
    text-decoration: none;
}
.light .text-purple {
    color: #8c1aff;
}
.light .btn-social {
    border: none;
    color: #8c1aff;
}
.light #search-btn {
    color:#8c1aff; 
    border-color:#8c1aff;
}
.light #search-btn:hover {
    background-color:#8c1aff;
    color: white !important;
}
.light #search-btn:focus {
    border-color: #8c1aff;
    box-shadow: unset;
}
.light .button-submit {
    color: white;
    background-color: #8c1aff;
}
.light .button-submit:hover {
    color: white;
    background-color: #6600cc;
}
.light .form-control:focus {
    border-color: #8c1aff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ab5afc;
}
.light .button-submit:focus {
    border-color: #8c1aff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ab5afc;
}
/*Dark theme*/
.dark {
    background-color: #111111;
}
.dark .navbar {
    background-color: #232323;
}
.dark a {
    color: #D7D7D7;
    text-decoration: none;
}
.dark #search {
    border-color: #242424;
    background-color: #111111;
    color:#D7D7D7;
}
.dark #search-btn {
    border-color: #414141;
    background-color: #414141;
    color:#D7D7D7;
}
.dark #search-btn:hover {
    background-color: #343434;
}
.dark #search-btn:focus {
    border-color: #8c1aff;
    background-color: #8c1aff;
    box-shadow: unset;
}
.dark .btn-social {
    border: none;
    color: #8c1aff;
}
.dark label, .dark .card-title, .dark .card-text, .dark .lead, .dark h3, 
.dark .dropdown-menu a, .dark .dropdown-menu a:hover, .dark h2, .dark h4, .dark h5, 
.dark h6, .dark h1 {
    color:#D7D7D7;
}
.dark .card-body, .dark .card-footer {
    background-color:#111111;
}
.dark .dropdown-menu {
    background-color:#232323;
    min-width: unset;
}
.dark .dropdown-item {
    padding: .15rem 1rem;
}
.dark .dropdown-item:hover {
    background-color: unset;
}
.dark .fa-medapps {
    border: none;
    color: #edb867;
}

a:hover {
    color: #6600cc;
}

.navbar-toggler:focus {
    outline: unset;
}

.button-submit:focus {
    border-color: #8c1aff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ab5afc;
  }

.ng2-tag-input.ng2-tag-input--focused[_ngcontent-c3] {
    border-bottom: 2px solid #8c1aff !important;
}

.content[_ngcontent-c5] {
    color: #8c1aff !important;
}

.drop-zone {
    border: 2px dotted #8c1aff !important;
}

/*new*/

.br-custom .br-unit, .br-custom .br-units {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .br-custom .br-unit {
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=utf8, %3C?xml version='1.0' encoding='iso-8859-1'?%3E%3Csvg version='1.1' id='Layer_1' xmlns='http: //www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.002 512.002' style='enable-background:new 0 0 512.002 512.002;' xml: space='preserve'%3E%3Cpath style='fill:%23F0D355;' d='M400.07, 502.64c-3.551, 0-7.116-0.825-10.398-2.5L256.001, 431.95L122.33, 500.14 c-3.283, 1.675-6.848, 2.5-10.399, 2.5c-4.728, 0-9.431-1.464-13.408-4.336c-6.961-5.031-10.52-13.537-9.215-22.026l22.995-149.648 L6.579, 219.236c-6.002-6.096-8.103-15.031-5.446-23.163c2.656-8.131, 9.626-14.103, 18.069-15.481l147.912-24.138l68.49-134.585 c3.904-7.675, 11.786-12.507, 20.397-12.507c8.611, 0, 16.493, 4.833, 20.396, 12.507l68.49, 134.585L492.8, 180.592 c8.444, 1.378, 15.413, 7.35, 18.07, 15.481c2.656, 8.132, 0.555, 17.067-5.447, 23.163L399.7, 326.628l22.993, 149.648 c1.305, 8.49-2.254, 16.995-9.215, 22.026C409.502, 501.175, 404.798, 502.64, 400.07, 502.64z'/%3E%3Cg style='opacity: 0.1;'%3E%3Cpath style='fill: %23414042;' d='M146.585, 486.578c-6.96-5.03-10.52-13.537-9.215-22.026l22.995-149.647L54.643, 207.512 c-6.003-6.096-8.103-15.031-5.447-23.163c1.232-3.769, 3.397-7.065, 6.199-9.663l-36.193, 5.906 c-8.444, 1.378-15.413, 7.35-18.069, 15.481c-2.657, 8.132-0.556, 17.067, 5.446, 23.163l105.724, 107.391L89.307, 476.276 c-1.305, 8.49, 2.254, 16.995, 9.215, 22.026c3.977, 2.872, 8.68, 4.336, 13.408, 4.336c3.551, 0, 7.117-0.826, 10.399-2.5l25.267-12.89 C147.257, 487.03, 146.914, 486.817, 146.585, 486.578z'/%3E%3C/g%3E%3C/svg%3E");
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 5px;
    width: 28px;
    height: 28px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }
  .br-custom .br-unit:first-child {
    margin-left: 0;
  }
  .br-custom .br-active, .br-custom .br-selected {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
  .br-default .br-units {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .br-default .br-unit {
    margin-right: 5px;
    font-size: 23px;
    height: 18px;
    width: 18px;
  }
  .br-default .br-unit:after {
    content: "\2605";
    color: #d2d2d2;
  }
  .br-default .br-active:after, .br-default .br-selected:after {
    color: #edb867;
  }
/*   .br-bootstrap .br-units {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .br-bootstrap .br-unit {
    font: normal normal normal 18px/1 Glyphicons Halflings;
    margin-right: .125em;
  }
  .br-bootstrap .br-unit:after {
    content: "\E006";
    color: #d2d2d2;
  }
  .br-bootstrap .br-active:after, .br-bootstrap .br-selected:after {
    color: #edb867;
  }
  .br-fontawesome .br-units {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .br-fontawesome .br-unit {
    font: normal normal normal 20px/1 FontAwesome;
    margin-right: 2px;
  }
  .br-fontawesome .br-unit:after {
    content: "\F005";
    color: #d2d2d2;
  }
  .br-fontawesome .br-active:after, .br-fontawesome .br-selected:after {
    color: #edb867;
  }
  .br-fontawesome-o .br-unit {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font: normal normal normal 20px/1 FontAwesome;
    margin-right: 2px;
  }
  .br-fontawesome-o .br-unit:after {
    content: "\F006";
    color: #d2d2d2;
  }
  .br-fontawesome-o .br-active:after, .br-fontawesome-o .br-selected:after {
    content: "\F005";
    color: #50e3c2;
  }
  .br-fontawesome-o .br-fraction:after {
    content: "\F123"}
  .br-square .br-units {
    counter-reset: a;
  }
  .br-square .br-unit {
    width: 30px;
    height: 30px;
    border: 2px solid #bbcefb;
    background-color: #fff;
    margin: 2px;
    text-decoration: none;
    font-size: 14px;
    line-height: 2;
    text-align: center;
    color: #bbcefb;
    font-weight: 600;
  }
  .br-square .br-unit.br-active, .br-square .br-unit.br-selected {
    border: 2px solid #4278f5;
    color: #4278f5;
  }
  .br-square .br-unit:after {
    content: counter(a);
    counter-increment: a;
  }
  .br-square.br-readonly .br-active, .br-square.br-readonly .br-selected {
    border: 2px solid #729bf8;
    color: #729bf8;
  }
  .br-square.br-readonly .br-theme {
    color: #f2cd95;
  }
  .br-horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .br-horizontal .br-unit {
    display: block;
    width: 12px;
    height: 32px;
    float: left;
    background-color: #fbedd9;
    margin: 1px;
    text-align: center;
  }
  .br-horizontal .br-unit.br-active, .br-horizontal .br-unit.br-selected {
    background-color: #edb867;
  }
  .br-horizontal.br-readonly .br-unit {
    cursor: default;
  }
  .br-horizontal.br-readonly .br-unit.br-active, .br-horizontal.br-readonly .br-unit.br-selected {
    background-color: #f2cd95;
  }
  .br-horizontal .br-text {
    width: 20px;
    margin-left: 20px;
    font-size: 18px;
    color: #edb867;
  }
  .br-vertical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .br-vertical .br-units {
    width: 120px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin: 10px 0;
  }
  .br-vertical .br-unit {
    display: block;
    width: 120px;
    height: 5px;
    background-color: #fbedd9;
    margin-top: 1px;
  }
  .br-vertical .br-unit.br-active, .br-vertical .br-unit.br-selected {
    background-color: #edb867;
  }
  .br-vertical.br-readonly .br-active, .br-vertical.br-readonly .br-selected {
    border: 2px solid #729bf8;
    color: #729bf8;
  }
  .br-vertical .br-text {
    font-size: 18px;
    font-weight: 600;
    color: #edb867;
  }
  .br-movie .br-units {
    margin: 15px 0;
  }
  .br-movie .br-unit {
    display: block;
    width: 60px;
    height: 8px;
    float: left;
    background-color: #bbcefb;
    margin: 1px;
  }
  .br-movie .br-unit.br-active, .br-movie .br-unit.br-selected {
    background-color: #4278f5;
  }
  .br-movie.br-readonly .br-active, .br-movie.br-readonly .br-selected {
    background-color: #729bf8;
  }
  .br-movie .br-text {
    letter-spacing: 2px;
    font-size: 16px;
    clear: both;
    width: 240px;
    text-align: center;
    font-weight: 600;
    display: block;
    color: #4278f5;
  } */
  
  
   .br-default .br-units {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .br-default .br-unit {
    margin-right: 5px;
    font-size: 23px;
    height: 18px;
    width: 18px;
  }
  
  .br-default .br-active::after, .br-default .br-selected::after {
    color: #edb867;
  }
  
  .br-default .br-unit::after {
    content: "\2605" !important;
  }
  
  .br-default .br-unit {
    font-size: 23px;
  }

  .card {
      border: 0px !important;
  }
  
  